.settings .setting .setting-label {
  width: 30%;
}

//fix for correct display of onebox previews
.ytp-thumbnail-image {
  max-width: none !important;
  max-height: none !important;
}

.user-title {
  padding: 0 8px 2px;
  border-radius: 2px;
  background: #85144b;
  font-weight: bold;
  color: #ffffff !important;
  margin: 6px 0px 0px;
  font-size: 11px !important;
}
